.gameItem {
	max-width: 500px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	color: white;
	gap: 20px;
	align-items: center;
	background-color: var(--accent-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
}
.name {
	font-size: 30px;
}
.image {
	width: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: 5px;
}
.description {
	width: 100%;
	text-align: start;
}
.price {
	width: 100%;
	text-align: end;
}
.priceValue {
	margin-inline-start: 10px;
	font-weight: 800;
	color: var(--text-color);
}