$market-image: 25px;
.gameItem {
	cursor: default;
	gap: 10px;
	max-inline-size: 450px;
	block-size: 500px;
	max-block-size: 500px;
	padding: 20px;
	color: var(--text-color);
	background-color: var(--layout-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 45px 200px 1fr $market-image;
	grid-template-areas: 'name' 'logo' 'description' 'price';
}

.name {
	grid-area: name;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.image {
	grid-area: logo;
	inline-size: 100%;
	block-size: 100%;
	object-fit: contain;
	object-position: center;
}

.description {
	grid-area: description;
	block-size: 100%;
	inline-size: 100%;
	overflow: hidden scroll;
	text-align: start;

	@supports (scrollbar-width: auto) {
		scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
		scrollbar-width: var(--scrollbar-width);
	}

	@supports selector(::-webkit-scrollbar) {
		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollbar-color-thumb);
		}

		&::-webkit-scrollbar-track {
			background-color: var(--scrollbar-color-track);
		}

		&::-webkit-scrollbar {
			max-width: var(--scrollbar-width-legacy);
			max-height: var(--scrollbar-width-legacy);
		}
	}
	img, video {
		width: 100%;
		object-fit: contain;
	}
}

.footer {
	grid-area: price;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.link {
	color: var(--accent-color);
	font-weight: 800;
	font-size: 18px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	@media(any-hover: hover) {
		&:hover {
			text-decoration: none;
		}
	}
	&:active {
		text-decoration: none;
	}
}

.linkImage {
	inline-size: $market-image;
	block-size: $market-image;
}

.price {
	inline-size: 100%;
	text-align: end;
}

.priceValue {
	margin-inline-start: 10px;
	color: var(--accent-color);
	font-weight: 800;
}