.gameItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	max-width: 450px;
	height: 500px;
	max-height: 500px;
	padding: 20px;
	color: white;
	background-color: var(--accent-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 45px;
	text-align: center;
}

.image {
	width: 100%;
	min-height: 215px;
	object-fit: contain;
	object-position: center;
	border-radius: 5px;
}

.description {
	width: 100%;
	overflow: hidden scroll;
	text-align: start;

	@supports (scrollbar-width: auto) {
		scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
		scrollbar-width: var(--scrollbar-width);
	}

	@supports selector(::-webkit-scrollbar) {
		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollbar-color-thumb);
		}

		&::-webkit-scrollbar-track {
			background-color: var(--scrollbar-color-track);
		}

		&::-webkit-scrollbar {
			max-width: var(--scrollbar-width-legacy);
			max-height: var(--scrollbar-width-legacy);
		}
	}

	img {
		width: calc(100% - 10px);
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-block-start: auto;
}

.link {
	color: var(--text-color);
	font-weight: 800;
	font-size: 18px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.price {
	width: 100%;
	text-align: end;
}

.priceValue {
	margin-inline-start: 10px;
	color: var(--text-color);
	font-weight: 800;

}