.input {
	height: 50px;
	width: clamp(18.75rem, 15.1786rem + 17.8571vw, 43.75rem);
	border-radius: 5px;
	padding: 5px 20px;
	background-color: var(--accent-color);
	box-shadow: var(--shadow);
	color: white;
	font-weight: 900;
	text-overflow: ellipsis;
	&::placeholder {
		font-family: var(--font-family);
		font-size: 18px;
	}
}