$loader-size: 30px;

.button {
	position: relative;
	min-width: 100px;
	height: 100%;
	padding: 10px;
	color: white;
	font-weight: 900;
	font-size: 18px;
	background-color: var(--text-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	cursor: pointer;
	filter: none;
	transition: filter 0.5s;

	&::before {
		position: absolute;
		inset: calc(50% - $loader-size / 2);
		z-index: 10;
		display: none;
		width: $loader-size;
		background-color: transparent;
		border: 5px solid;
		border-color: rgb(255 255 255 / 15%) rgb(255 255 255 / 25%) rgb(255 255 255 / 35%) rgb(255 255 255 / 50%);
		border-radius: 50%;
		animation: rotation 1s linear infinite;
		content: '';
		aspect-ratio: 1/1;
	}
	@media (any-hover: hover) {
		&:hover  {
			filter: brightness(0.85);
			transition: filter 0.2s;
		}
	}
	&:active  {
		filter: brightness(0.7);
		transition: filter 0.2s;
	}
	&:disabled {
		color: transparent;

		&::before {
			display: block;
		}

		&:active  {
			filter: brightness(0.85);
		}
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

