.button {
	min-inline-size: 100px;
	max-inline-size: 120px;
	block-size: 100%;
	padding: 10px;
	color: var(--text-color);
	font-weight: 900;
	font-size: 18px;
	background-color: var(--accent-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	cursor: pointer;
	filter: none;
	transition: background 0.5s;
	&:disabled {
		background-color: var(--control-active-color);
		&:hover  {
			background-color: var(--control-active-color);
		}
	}
	@media (any-hover: hover) {
		&:hover  {
			background-color: var(--control-hover-color);
			transition: background 0.2s;
		}
	}
	&:active  {
		background-color: var(--control-active-color);
		transition: background 0.2s;
	}
}



