.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	block-size: var(--header-height);
	padding: 50px var(--page-padding);
	background-color: #030b2d;
	background-image: linear-gradient(180deg,#222228 0,rgb(34 34 40 / 54%) 100%), url('@images/bg1.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.title {
	margin-block-end: 25px;
	color: var(--text-color);
	font-weight: 800;
	font-size: 50px;
}

.description {
	color: var(--text-color);
	font-weight: 700;
	font-size: 20px;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	max-inline-size: max(1300px, 80%);
	min-block-size: calc(100dvh - var(--header-height) - 40px);
	margin: 0 auto;
	padding: 50px 20px;
}

.result {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	inline-size: 100%;
	block-size: 100%;
	margin: 0 auto;
}

.footer {
	inline-size: 100%;
	block-size: 30px;
	padding: 0 20px;
	color: #454545FF;
	font-size: 20px;
	text-align: center;
	user-select: none;
	a {
		color: #454545FF;
	}
}
