:root {
	--font-family: nunito, sans-serif;
	--bg-color: #111116;
	--text-color: #ddd;
	--accent-color: #297994;
	--hover-color: #308baa;
	--page-padding: 10%;
	--layout-color: #57575721;
	--shadow: 0 0 10px 0 var(--bg-color);
	--scrollbar-color-thumb: var(--accent-color);
	--scrollbar-color-track: var(--layout-color);
	--scrollbar-width: thin;
	--scrollbar-width-legacy: 10px;
	--promo-card-offset: 30px;
	--header-height: 350px;
	--control-text-size: 15px;
	--control-hover-color: #3f4c73;
	--control-active-color: #333d5c;
}