:root {
	--font-family: nunito, sans-serif;
	--bg-color: #111116;
	--text-color: #21647A;
	--hover-color: #1e5c70;
	--page-padding: 100px;
	--accent-color: #57575721;
	--shadow: 0 0 10px 0 var(--bg-color);
}