.controls {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	inline-size: 100%;
	padding: 5px 20px;
	background-image: radial-gradient(circle, #14141a, rgb(255 255 255 / 0%));
}

.control {
	min-inline-size: 135px;
	padding: 10px;
	color: white;
	font-weight: 900;
	font-size: 18px;
	text-align: start;
	background-color: var(--text-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover  {
			filter: brightness(0.85);
			transition: filter 0.2s;
		}
	}

	&:active  {
		filter: brightness(0.7);
		transition: filter 0.2s;
	}
}

.controlLow {
	&::after {
		content: ' ▼'
	}
}

.controlHigh {
	&::after {
		content: ' ▲'
	}
}