$border-radius: 20px;
$promo-card-padding: 20px;

.outer {
	position: relative;
	inline-size: 350px;
	padding: $promo-card-padding;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: 0 0 5px #57575721, inset 0 0 5px #57575721;
	aspect-ratio: 1/1;

	&::before {
		position: absolute;
		inset: 0;
		z-index: 0;
		background-color: var(--accent-color);
		border-radius: $border-radius;
		transition: translate 1s;
		content: '';
		translate: 0 101%;
	}

	&:hover {
		&::before {
			transition: translate 0.8s;
			translate: 0 30%;
		}
	}
}

.inner {
	position: absolute;
	inset: $promo-card-padding;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	inline-size: calc(100% - $promo-card-padding * 2);
	padding: 20px;
	color: var(--text-color);
	font-size: 25px;
	text-align: center;
	background-image: linear-gradient(90deg, #202027 40%, #19191e 60%);
	border-radius: $border-radius;
	aspect-ratio: 1/1;
	box-shadow: var(--shadow);
}

.image {
	inline-size: 100px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}

@media (max-width: 425px) {
	.outer {
		inline-size: clamp(18.75rem, 9.2262rem + 47.619vw, 21.875rem);
	}
}